<custom-style>
    <style>

        .vc-edit-text-field {
            padding: 0 0 0 0;
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .vc-layout-markup {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .vc-layout-container {
            padding: 10px 10px 10px 10px;
            margin: 0 0 0 0;
        }

        .vc-label-header {
            font-weight: bold;
            color: #313131;
        }

        .vc-label-header-xlarge {
            font-weight: bold;
            color: #313131;
            font-size: x-large;
        }

        .vc-label-header-medium {
            font-weight: bold;
            color: #313131;
            font-size: medium;
        }

    </style>
</custom-style>