<custom-style>
    <style>

        .menu-bar {
            flex-direction: column;
            flex-shrink: 0;
            background: var(--lumo-base-color);
            box-shadow: var(--overlay-box-shadow);
        }

        .menu-header {
            color: #313131;
            font-size: larger;
            font-weight: bold;
            padding-left: 30px;
            padding-bottom: 20px;
        }

        .menu-button {
            color: #313131;
            background: white;
            margin-left: 10px;
            margin-right: 10px;
            text-align: left;
        }

        .menu-button iron-icon {
            alignment: left;
        }

        .menu-button-selected {
            color: white;
            background: #FFDE00;
            margin-left: 10px;
            margin-right: 10px;
            text-align: left;
        }

        .menu-button menu-button-selected {
            alignment: left;
        }

        .main-layout {
            flex-direction: row;

            /* Used by the menu and form overlays */
            --overlay-box-shadow: 0 0 3px 2px var(--lumo-contrast-10pct);
        }

    </style>
</custom-style>