<custom-style>
    <style>
        .text-field {
            padding: 0px 0px;
        }

        .notification_alert {
            color: red;
        }

        .button {
        }

    </style>
</custom-style>