<custom-style>
    <style>
        @import "common.html";

        .users-form-header {
            margin: 0 0 0 0;
        }

        .users-form-header-left {
            padding: 5px 5px 5px 5px;
            margin: 0 0 0 0;
        }

        .users-form-header-right {
            padding: 5px 5px 5px 5px;
            margin: 0 0 0 0;
        }

        .users-form-columns {
            margin: 0 0 0 0;
        }

        .users-form-column1 {
            margin: 0 0 0 0;
            padding: 10px 10px 10px 10px;
        }

        .users-form-column2 {
            margin: 0 0 0 0;
            padding: 10px 10px 10px 10px;
        }

        .users-form-column3 {
            margin: 0 0 0 0;
            padding: 10px 10px 10px 10px;
        }

        .users-form-column4 {
            margin: 0 0 0 0;
            padding: 10px 10px 10px 10px;
        }

        .users-form-textfield {
            padding: 0 0 0 0;
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .users-form-group-header {
            color: #313131;
            font-weight: bold;
        }

        .users-form-headerText {
            font-size: x-large;
            color: #313131;
        }


        vaadin-text-field[enabled = fale] {
            background: transparent;
            border: transparent;
        }

        vaadin-grid {
            padding-top: 0;
            padding-bottom: 0;
        }

        vaadin-grid vaadin-grid-column {
            background: darkcyan;
        }

        .layout-buttons {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .user-big-photo {
            background: darkgray;
        }

        .users-grid-layout {
            background: lightblue;
        }

        .users-grid-header-layout {
            background: darkkhaki;
        }

        .user-edit-btn {
            padding: 0 0 0 0;
            margin: 0 5px 0 0;
        }

        .user-edit-btn iron-icon {
            margin: 0 0 0 0;
        }

        .user-delete-btn {
            padding: 0 0 0 0;
            margin: 0 0 0 5px;
        }

        .user-delete-btn iron-icon {
            margin: 0 0 0 0;
        }

        .user-add-btn {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .user-add-btn iron-icon {
            margin: 0 0 0 0;
        }

        .users-left-head-layout {
        }

        .users-right-head-layout {
        }

        .users-search-btn {
            color: #313131;
        }

        .users-add-btn {
            color: white;
            background: green;
        }

        .users-layout {
        }

    </style>
</custom-style>